.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #004777, #0084dd);
  color: #f5f3ef;
  width: 280px; /* largura fixa maior para desktop */
  max-width: 90vw; /* limita a 90% da largura da viewport em telas pequenas */
  height: 50px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin: 20px auto;
  box-shadow: 1px 3px 8px #00000081;
  transition: width 0.3s ease, height 0.3s ease;
}

.botao:hover {
  width: 300px;
  height: 53px;
}

.icone {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #f5f3ef;
}

@media (max-width: 768px) {
  .botao {
    width: 90%;
    height: 45px;
    font-size: 14px;
    padding: 8px 16px;
  }

  .botao:hover {
    width: 95%;
    height: 48px;
  }

  .icone {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}

@media (max-width: 480px) {
  .botao {
    height: 40px;
    font-size: 13px;
    padding: 6px 14px;
  }

  .botao:hover {
    height: 43px;
  }

  .icone {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
}
