.cardContent {
  padding: 1rem;
}

.lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 1.5rem;
  padding-left: 0;
  list-style-position: inside;
  margin: 0;
  font-family: var(--font-text);
  font-size: 20px;
  font-weight: bold;
}

.botaoGradient {
  background: linear-gradient(to right, #004777, #0084DD);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  font-size: 36px;
  font-weight: bold;
  width: 20%;
  margin: 1rem auto 0 auto;
  cursor: pointer;
  display: block;
}

.botaoGradient:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  font-family: var(--font-text);
}

.botaoGradient:hover {
  transform: scale(1.05);
}

.botao:hover {
  background-color: #0066aa;
}

.cardInterno {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-text);
}