.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem 1.5rem; 
  box-sizing: border-box;
}

.botaoGradient {
  background: linear-gradient(to right, #004777, #0084DD);
  color: white;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 20px;
  font-family: var(--font-title);
  font-size: 20px;
  font-weight: bold;
  width: auto; 
  min-width: 120px;
  margin: 1rem auto 0 auto;
  cursor: pointer;
  display: block;
  text-align: center;
  white-space: normal;
}

.accordionItem {
  max-width: 1330px;
  margin: 70px auto;
  background-color: #e9fcfb;
  border-radius: 75px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  cursor: pointer;
  position: relative;
}

.imagem {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.title {
  font-weight: bold;
  font-size: 30px;
  font-family: var(--font-text);
  text-align: center;
  background: linear-gradient(90deg, #004777, #0084DD);
  background-clip: text;
  -webkit-background-clip: text;
  color: #004777;
  -webkit-text-fill-color: transparent;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: auto;
  height: auto;
  transition: transform 0.3s ease;
  padding-left: 10px;
}

.rotate {
  transform: rotate(180deg);
}

.content {
  padding: 1rem 2rem;
  font-size: 0.95rem;
  color: #333;
}

.content {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.aberto {
  max-height: 1000px;
  opacity: 1;
}

.fechado {
  max-height: 0;
  opacity: 0;
}