.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

.accordionItem {
  max-width: 1330px;
  margin: 70px auto;
  background-color: #e9fcfb;
  border-radius: 75px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  cursor: pointer;
  position: relative;
}

.imagem {
  width: 90px;
  height: auto;
  margin-right: 1rem;
}

.title {
  font-weight: bold;
  font-size: 37px;
  font-family: var(--font-text);
  text-align: center;
  background: linear-gradient(90deg, #004777, #0084DD);
  background-clip: text;
  -webkit-background-clip: text;
  color: #004777;
  -webkit-text-fill-color: transparent;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza todos os elementos horizontalmente */
  gap: 1.5rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: auto;
  height: auto;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.content {
  padding: 1rem 2rem;
  font-size: 0.95rem;
  color: #333;
}

.content {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.aberto {
  max-height: 1000px;
  opacity: 1;
}

.fechado {
  max-height: 0;
  opacity: 0;
}


