.card {
  background: #fff;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  max-width: 1105px;
  margin: 2rem auto;
  font-family: var(--font-text);
  margin-bottom: 35px;
}

.cardSombraLateral {
  box-shadow: -8px 4px 16px -4px rgba(0,0,0,0.15);
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 1rem;
}

.nome {
  font-weight: 600;
  font-size: 25px;
  font-family: var(--font-title);
  background: linear-gradient(to right, #7094E2, #5DC7EA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuIcon {
  cursor: pointer;
  filter: brightness(0.6);
}

.titulo {
  font-size: 35px;
  font-family: var(--font-title);
  font-weight: bold;
  color: #004777;
  margin-bottom: 0.75rem;
}

.texto {
  font-size: 25px;
  font-weight: medium;
  font-family: var(--font-text);
  line-height: auto;
  color: #333;
  margin-bottom: 1.5rem;
}

.aviso {
  background: linear-gradient(to right, rgba(112, 148, 226, 0.40), rgba(93, 199, 234, 0.40));
  color: #000;
  border-radius: 20px;
  padding: 0.75rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 20px;
  font-family: var(--font-title);
  font-weight: medium;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.gradienteTexto {
  background: linear-gradient(to right, #004777, #0084DD);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.gradienteTextoIcone {
  background: linear-gradient(to right, #004777, #0084DD);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 20px;
  font-family: var(--font-title);
  font-weight: medium;
}

.aviso a {
  color: #004777;
  font-weight: bold;
  text-decoration: underline;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
}

.iconeItem {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.separador {
  width: 1px;
  height: 28px;
  object-fit: contain;
  margin: 0 0.75rem;
  display: inline-block;
  filter: drop-shadow(0 0 1px #0070bb); 
}

.icones div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #004777;
}

.icones img {
  width: 24px;
  height: 24px;
}