.cardPlanos{
  width: 95vw;
  max-width: 460px;
  background-image: linear-gradient(to right, #0084DD, var(--color-7));
  display: flex;
  flex-direction: column;
  padding: 30px 10px 10px 10px;
  gap: 10px;
  border-radius: 20px;
  transition: .3s ease;
}

.cardPlanos:hover{
    transform: scale(1.1);
}

.cardPlanos h2{
  color: #fff;
  text-align: center;
  font-family: var(--font-text);
  font-size: 2.5rem;
  
}

.cardPlanos .boxPlanos{
  background-color: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

}

.boxPlanos h3{
  font-family: var(--font-title);
  font-size: 2.5rem;
}

.boxPlanos ul{
  list-style: none;
  padding-left: 0;
  width: 350px;
}

.boxPlanos li{
  position: relative;
  padding-left: 40px;
  font-family: var(--font-text);
  font-size: 2.4rem;
  margin: 10px 0;
}

.boxPlanos li::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: url("../../icons/icon-park-solid_check-one.png");
  background-size: contain;
}

.boxPlanos button{
  width: 100%;
}