:root {
  --verdeNeve: #d8f2e5;
  --verdeDegrade: #a5f2cb;
  --neutroAconchegante: #f5f3ef;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wave {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
