.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.section {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section h1{
    font-family: var(--font-title);
    font-size: 2.5rem;
    margin: 15px 0;
}

.section:first-of-type {
    background-image: linear-gradient(300deg, var(--color-3), var(--color-1));

}

.molduraLogo {
    max-height: 120px;
    max-width: 400px;
}

.molduraLogo img{
    width: 100%;
    height: 100%;
}

.moldura {
    max-width: 515px;
    max-height: 535px;
}

.moldura img {
    width: 100%;
    height: 100%;
}

.forms {
    width: 70%;
}

.button {
    width: 90%;
    height: 50px;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background-color: var(--color-7);
    padding: 10px 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #0084DD;
    
}

.button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #0084DD;
}

.divTroca{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.divTroca a{
    padding: 0px 10px 10px 10px;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: var(--font-text);
    text-align: right;
}

.divSubmit{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1060px){
    .moldura {
        max-width: 410px;
        max-height: 430px;
    }

    .molduraLogo {
        max-height: 120px;
        max-width: 300px;
    }
}

@media screen and (max-width: 856px){
    .moldura {
        max-width: 350px;
        max-height: 370px;
    }
}

@media screen and (max-width: 710px){
    .moldura {
        max-width: 310px;
        max-height: 330px;
    }
}

@media screen and (max-width: 635px){
    .moldura {
        max-width: 310px;
        max-height: 330px;
    }

    .section:first-of-type{
        display: none;
    }

    .forms {
        width: 100%;
    }

    .section{
        width: 70vw;
        background-color: #fff;
        height: 60vh;
        padding: 40px;
        border-radius: 10px;
    }

    .main{
        background-image: linear-gradient(300deg, var(--color-3), var(--color-1));
    }
}